header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 15vw;
  background-color: #fff;
}

#lg-nav {
  display: flex;
  gap: 20px;
}

ul > li {
  list-style-type: none;
}

ul > li > a, ul > li > Link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  line-height: 22px;
}

#nav_logo {
  width: 190px;
  height: 55px;
}

#menu {
  display: none;
  background-color: #495E57;
  border: 1px solid #495E57;
  width: 40px;
  height: 25px;
}

#menu > hr {
  line-height: 0px;
  margin: 5px;
}

#md-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  #nav_logo {
    width: 160px;
    height: 44px;
  }

  ul > li > a {
    font-size: 12.6px;
  }
}

@media only screen and (max-width: 834px) {
  #lg-nav {
    gap: 11px;
  }
}

@media only screen and (max-width: 768px) {
  @keyframes md-nav-anim {
    from {height: 0vh; opacity: 0;}
    to {height: 60vh; opacity: 1;}
  }

  #nav_logo {
    width: 140px;
    height: 38.5px;
  }

  #menu {
    display: block;
  }

  #lg-nav {
    display: none;
  }

  #md-nav {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 45vw;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #F4CE14;
    border-bottom-left-radius: 16px;
    animation-name: md-nav-anim;
    animation-duration: 0.5s;
  }

  #md-nav > ul {
    padding: 0;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  #md-nav > ul > li {
    margin-bottom: 20px;
  }

  #close {
    margin-top: 35px;
    font-weight: 900;
    color: #333;
  }
}

@media only screen and (max-width: 425px) {
  #md-nav {
    width: 55vw;
  }
}

@media only screen and (max-width: 368px) {
  header {
    padding-right: 5vw;
    padding-left: 5vw;
  }
}